<div class="container-blank"></div>

<h1 id='header_green'>
  What I learnt
</h1>


<div class="weeks"></div>

<div class="week_details">
  <% @weeks.each do |week| %>
    <% week_class_name = week.name.gsub(/ /, "")%>
    <div id="<%=week_class_name %>">
      <h2 class="week_name"><%= week.name %></h2>

      <ul>
        <% week.study.each do |s| %>
          <li class="what_i_learnt">- <%= s %></li>
        <% end %>
      </ul>
      <section class='img-container'>
        <%= image_tag("", class: 'homeworkIMG', title: 'Best Homework for the week' )%>
        <a class="show-me-the-code" title='Check the code' target="blank"><%= image_tag('pages/github.png', class: 'github')%></a>
      </section>
    </div>
  <% end %>
</div>

