<h1>Rira Choi's Projects</h1>

<div class="best_homeworks">

  <% @projects.each do |project| %>
    <% class_name = project.title.gsub(/ /,"") %>
    <%= image_tag(project.main_image, :class => class_name) %>
  <% end %>

</div>


<div id="content">
  <% @projects.each do |project| %>
  <% class_name = project.title.gsub(/ /,"") %>
    <div id="<%= class_name %>" class="text">
      <%= image_tag(project.main_image, :id => class_name)%>

      <h2 class="project_name"><%= project.title %></h2>

      <p>Date: <%= project.date %></p>
      <p>Built By: <%= project.program %></p>
      <p><%= link_to('Check it out with image description', project_path(:id => project.id))%></p>



        <ol class='des_images'>
        <% project.images do |img|%>
          <li><%= image_tag(img, :id => class_name )%></li>
        <% end %>
        </ol>

    </div>
  <% end %>
</div>




<div class="homeworks"></div>