<h1 id="header_yellow">Rira Choi's Projects</h1>

<div class="best_homeworks" id='best_homeworks'>

  <% @projects.each do |project| %>
    <% class_name = project.title.gsub(/ /,"") %>
    <%= image_tag(project.main_image, :class => class_name, :title => 'Click Me') %>
  <% end %>

</div>


<div id="content">
  <% @projects.each do |project| %>
  <% class_name = project.title.gsub(/ /,"") %>
    <div id="<%= class_name %>" class="text">
  <!--main image -->
      <%= image_tag(project.main_image, :id => class_name, :class => 'preview_mainImg')%>

  <!--projects detains -->
      <h2 class="project_name"><%= project.title %></h2>

      <p>( <%= project.date %> )</p>

      <a class="btn_preview" title='Preview'><p class ='preview_icon'><%=image_tag('project_nav/preview_icon.png')%><br/>Preview</p></a>

      <a class="btn_top" title="Scoll to Top"><p class='top_icon'><%=image_tag('project_nav/arrow_top.png', :class=>'arrow_top')%><br/>Back to TOP</p></a>


      <%= link_to '<p class="description_icon"><img src="/assets/project_nav/photo.png"/><br/>Description</p>'.html_safe, project_path(:id => project.id), :title => "Slide Show for Description", :class=>'btn_description' %>

  <!--small images for preview -->
      <section id="<%= class_name %>" class='images'>
        <% project.images.each do |image| %>
          <%= link_to(image_tag(image, :class => "small_images"), image, :title => project.title, :id=>'preview') %>
        <%end %>
      </section>

    </div>
  <% end %>
</div>
