<h1 id="header_yellow">Rira Choi's Projects</h1>

<div class="projects_wrapper">
  <ul class="stage clearfix">

    <li class="scene" id="poster-left">
      <div class="key-project" onclick="return true" >
        <div class="poster">
          <h3>SOLUHO CALENDAR</h3>
          <div class='poster-round'>
            <%= image_tag('user_calendar.jpg', :id => 'poster-img')%>
          </div>
        </div>
        <div class="info">
          <header>
            <h2>PROJECT<br/>1</h2>
          </header>
          <p>
            <span class="strong">A Solar, Lunar and International Public Holiday calendar application. </span><br/>using: Ruby on Rails, enrico gem, API and Lunar date CSV file.
          </p>
          <div class='demo-github'>
            <%= image_tag('look-right.png')%>
            <a href="http://publicholiday-calendar.herokuapp.com" title="demo" target="blank">DEMO</a>
            <a href="https://github.com/rirachoi/SOLUHO_calendar" title="github" target="blank">GITHUB</a>
          </div>
        </div>
      </div>
    </li>

    <li class="scene">
      <div class="key-project" onclick="return true">
        <div class="poster">
          <h3>FIREBALL<br/>- GAME PART -</h3>
          <div class='poster-round'>
            <%= image_tag('game_main.jpg', :id => 'poster-img')%>
          </div>
        </div>
        <div class="info">
          <header>
            <h2>PROJECT<br/>2</h2>
          </header>
          <p>
            <span class="strong">An international chat translator and game application with 65+ own-brand stickers. </span><br/> using: Ruby on Rails, Google translate API, JavaScript and jQuery.
          </p>
          <div class='demo-github'>
            <%= image_tag('look-right.png')%>
            <a href="http://fireballtalks.herokuapp.com" title="demo" target="blank">DEMO</a>
            <a href="https://github.com/lyntco/fireball"  title="github" target="blank">GITHUB</a>
          </div>
        </div>
      </div>
    </li>

    <li class="scene" id="poster-right">
      <div class="key-project" onclick="return true">
        <div class="poster">
          <h3>WORLD MAP NEWS</h3>
          <div class='poster-round'>
           <%= image_tag('worldmapnews.jpg', :id => 'poster-img')%>
          </div>
        </div>
        <div class="info">
          <header>
            <h2>PROJECT<br/>3</h2>
          </header>
          <p>
            <span class="strong">An international news application using geographical location with the world map. </span><br/>using: Ruby on Rails, jQuery, feedzilla API, TDD with Simplecov and RSpec.
          </p>
          <div class='demo-github'>
            <%= image_tag('look-right.png')%>
            <a href="http://worldmapnews.herokuapp.com" title="demo" target="blank">DEMO</a>
            <a href="https://github.com/rirachoi/world_map_news" title="github" target="blank">GITHUB</a>
          </div>
        </div>
      </div>
    </li>

  </ul>
</div><!-- /about_wrapper -->
