<h1 id="header_yellow">Rira Choi's Projects</h1>

<div class="best_homeworks" id='best_homeworks'>

  <% @projects.each do |project| %>
    <% class_name = project.title.gsub(/ /,"") %>
    <%= image_tag(project.main_image, :class => class_name, :title => 'Click Me') %>
  <% end %>

</div>


<div id="content">
  <% @projects.each do |project| %>
  <% class_name = project.title.gsub(/ /,"") %>
    <div id="<%= class_name %>" class="text">
  <!--main image -->
      <%= image_tag(project.main_image, :id => class_name, :class => 'preview_mainImg')%>

  <!--projects detains -->
      <h2 class="project_name"><%= project.title %></h2>

      <p>( <%= project.date %> )</p>

      <button class="btn_preview" method='get'><a title='Click Me!')>Preview</a></button>

      <button class="btn_top" method='get' title="Scoll to Top">TOP</button>


      <%= link_to"<button class='btn_description'>Description</button>".html_safe, project_path(:id => project.id), :title => "Click Me!", :method => :get %>

  <!--small images for preview -->
      <section id="<%= class_name %>" class='images'>
        <% project.images.each do |image| %>
          <%= link_to(image_tag(image, :class => "small_images"), image, :title => project.title, :id=>'preview') %>
        <%end %>
      </section>

    </div>
  <% end %>
</div>
