<div id='currentProjectId' style="display:none;">
  <%= @project.id %>
</div>


<div class='plain_picture' id="main">
    <section id='project_details'>
      <h1 id="projectTitle"><%= @project.title%></h1>
      <p id="projectDate">( <%= @project.date %> )</p>
      <img src=<%= @project.main_image %> id="mainImage"/>
    </section>
</div>

<div id='description_with_images'>
  <% @project.image_description.each do |des_img|%>
  <%= image_tag(des_img, :class => 'des_img')%>
  <% end %>
</div>
