<div id='currentProjectId' style="display:none;">
  <%= @project.id %>
</div>


<div class='plain_picture' id="main">
    <section id='project_details'>
      <h1 id="projectTitle"><%= @project.title%></h1>
      <p id="projectDate"><%= @project.program %> ( <%= @project.date %> )</p>


    </section>
</div>

<div id='images_details'>

  <a id="previous">
    <%= image_tag('left.png', :id => 'left', :class=>"carousel-direction") %>
  </a>

  <a id="next">
    <%= image_tag('right.png',:id =>'right',:class=>"carousel-direction") %>
  </a>

  <%= image_tag(@project.main_image, :id =>"mainImage")%>

</div>
