
  <h1><%= @project.title%></h1>
  <div id='project_details'>
    <p id="project_date">Date: <%= @project.date%></p>
    <p id="program">Built By: <%= @project.program%></p>
    <p id="main_img"><%= image_tag(@project.main_image, :class => 'mainIMG') %></p>

    <div id='img_descriptions'>

      <% @project.image_description.each do |img_des|%>
      <p id="project_date">Date: <%= @project.date%></p>
      <p id="program">Built By: <%= @project.program%></p>
      <p><%= image_tag(img_des, :class => 'bigIMG')%></p>
      <% end %>
    </div>

  </div>
