<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>Rira Choi</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>

    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

  </head>
  <body>

    <ul id="navigation">
      <li class="home"><%= link_to("Home",'/')%></li>
      <li class="about"><%= link_to("About",pages_about_path)%></li>
      <li class="project"><%= link_to("Projects", projects_path)%></li>
      <li class="wdi"><%= link_to("WDI", weeks_path)%></li>
      <li class="Contact"><%= link_to("Contact",pages_contact_path)%></li>
    </ul>


    <div class='bg'></div>
    <div id='container' class="<%= params[:controller] %>-<%= params[:action] %>">
      <div id='blank'></div>
      <%= yield %>
    </div>



  </body>
</html>
